<div class="album">
  <div class="container">
    <div class="row">
      <header class="col-sm-12">
        <div class="back"><a href="#/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></div>
        <h1><img src="images/album-title.png" alt="MI ALBUM"></h1>
      </header>
    </div>
    <div class="row">
      <div ng-repeat="i in range() track by $index" class="col-sm-4">
        <div ng-class="{sticker: true, owned: hasSticker($index + 1)}">
          <img ng-src="images/stickers/{{ $index + 1 }}.jpg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>