<div class="challenges" tabindex="0">
  <div class="container">
    <a href="#album" class="album-menu"><span class="glyphicon glyphicon-star-empty"></span><img src="images/album-menu.png" alt="Mi album"></a>
    <div class="question" ng-hide="correct" ng-class="{shake: incorrect}">
      {{ currentQuestion.data[0] }}  +  {{ currentQuestion.data[1] }}  =  <input type="number" answer autofocus>
    </div>
  </div>

  <div class="olaf" ng-show="correct">
    <img src="images/olaf.png" alt="Olaf Happy">
  </div>
</div>

<div class="modal fade" id="win-sticker-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>¡Has ganado un sticker!</h2>
        <div class="sticker">
          
        </div>
        <div class="action">
          <a class="btn btn-primary btn-lg" ng-click="closeModal()">Ir al album</a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->